apiVersion: v1
kind: Service
metadata:
  name: postgres-svc
  labels:
    app: postgres
spec:

  clusterIP: None
  selector:
    app: postgres-pods
  ports:
  - port: 5432
    targetPort: 5432
    name: postgres
    protocol: TCP